.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img{
    background-size: cover;
    margin-right: 15%;
    border: 2px solid gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.img img{
    width: 344px;
    height: 400px;
}